.ui-widget {
    font-size: 90%;
    font-family: "Segoe UI", Verdana, Arial, sans-serif;
}

.ui-widget .ui-widget {
    font-size: 100%;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.fill-out {
    display: block;
    height: 100%;
    width: 100%;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.bold {
    font-weight: bold;
}

.ui-accordion .ui-accordion-content{
    border-top: 0 none;
    margin-bottom: 2px;
    margin-top: -2px;
    overflow: auto;
    padding: 0;
    position: relative;
    top: 1px;
}

.tab-title {
    background-color: aliceblue !important;
    border-bottom: solid lightgray !important;
}

.ui-panel .ui-panel-content {
    padding: 0;
}

.ui-panelgrid.panelgrid-no-pad .ui-panelgrid-cell {
    padding: 0;
}

.ui-panelgrid.panelgrid-small-pad .ui-panelgrid-cell {
    padding: 2px;
}

.ui-panelgrid.panelgrid-no-hor-pad .ui-panelgrid-cell {
    padding: 4px 0;
}

.edit {
    border: solid medium green;
    font-style: italic;
}

.lightgray-border {
    border: solid thin lightgray;
}

.black {
    background-color: black;
}

.gray {
    background-color: gray;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.white {
    background-color: white;
}

/* debugging */
/** {*/
    /*border: solid red thin;*/
/*}*/
