src/main/webapp/resources/primefaces-ultima-cyan/* linguist-vendored
src/main/webapp/resources/primefaces-ultima-grey/* linguist-vendored
src/main/webapp/resources/primefaces-ultima-blue-grey/* linguist-vendored
src/main/webapp/resources/primefaces-ultima-blue/* linguist-vendored
src/main/webapp/resources/primefaces-ultima-brown/* linguist-vendored
src/main/webapp/resources/primefaces-ultima-dark-blue/* linguist-vendored
src/main/webapp/resources/primefaces-ultima-dark-green/* linguist-vendored
src/main/webapp/resources/primefaces-ultima-green/* linguist-vendored
src/main/webapp/resources/primefaces-ultima-indigo/* linguist-vendored
src/main/webapp/resources/primefaces-ultima-purple-amber/* linguist-vendored
src/main/webapp/resources/primefaces-ultima-purple-cyan/* linguist-vendored
src/main/webapp/resources/primefaces-ultima-teal/* linguist-vendored
src/main/webapp/resources/ultima-layout/css/* linguist-vendored
src/main/webapp/resources/ultima-layout/fonts/* linguist-vendored
src/main/webapp/resources/ultima-layout/images/* linguist-vendored
src/main/webapp/resources/ultima-layout/js/* linguist-vendored